<div align="center">
  <div align="center">
    <h1 align='center' style='margin: 2%'>Log In</h1>
    <%= form_with scope: :form_account, url: sessions_path, local: true do |f| %>
      <table style='margin: 1.75%'>
        <tr>
          <td>Name:</td>
          <td><%= f.text_field :name, class: 'input', value: "" %></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><%= f.password_field :password, class: 'input', value: "" %></td>
        </tr>
          <tr>
            <td colspan='2' align='center'>
              <div class='container'><%= @message %></div>
            </td>
          </tr>
      </table>
            <ul class="block">
              <li><%= link_to 'Back in menu', menu_path %></li>
              <li><%= f.submit :submit, class: 'button', value: "Submit" %></li>
            </ul>
    <% end %>
  </div>
</div>


