  <h1>View Profile</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <table align="center" width="100%">
      <tr>
        <td align="center">
          <p><%= render "devise/shared/error_messages", resource: resource %></p>
        </td>
      </tr>
      <tr>
        <td align="center">
          Count of Wins:
          <%= current_user.wins %>
        </td>
      </tr>
      <tr>
        <td align="center">
          Count of Defeates:
          <%= current_user.defeates %>
        </td>
      </tr>
      <tr height="30px"><td></td></tr>
      <tr>
        <td align="center" style="color: rgb(200, 0, 0); font-size: 115%; font-weight: bold">
          Input Current Password
        </td>
      </tr>
      <tr>
        <td align="center">
          <%= f.password_field :current_password, class: "input" %>
        </td>
      </tr>
      <tr>
        <td align="center">Edit E-Mail</td>
      </tr>
      <tr>
        <td align="center"><%= f.email_field :email, class: "input" %></td>
      </tr>
      <tr><td align="center">
      <table>
        <tr>
          <td align="center">
            Edit Password
            <% if @minimum_password_length %>
              (<%= @minimum_password_length %> characters minimum)
            <% end %>
          </td>
          <td align="center">Password Confirmation</td>
        </tr>
        <tr>
          <td align="center">
            <%= f.password_field :password, class: "input" %>
          </td>
          <td align="center">
            <%= f.password_field :password_confirmation, class: "input" %>
          </td>
        </tr>
        </table></td>
      </tr>
      <tr>
        <td>
          <ul class="block">
            <li><%= link_to 'Back in menu', root_path %></li>
            <li><%= f.submit :"Edit", class: 'button', value: "Edit" %></li>
          </ul>
        </td>
      </tr>
    </table>
  <% end %>
