<div align="center">
    <h1 align='center'>Save game</h1>
    <%= form_with scope: :save_form, url: saves_path, local: true do |f| %>
      <table>
        <tr align="center">
          <td>Name save:</td>
          <td><%= f.text_field :name_save, class: 'input' %></td>
        </tr>
        <tr>
          <td colspan='2'>
            <div align='center' class='container'><%= @message %></div>
          </td>
        </tr>
      </table>
      <ul class="block">
        <li><%= link_to 'Cancel', game_path %></li>
        <li><%= f.submit :submit, class: 'button', value: "Submit" %></li>
      </ul>
    <% end %>
</div>
